header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


.title {
    font-size: 40px;
    margin-right: 700px;
}

.main {
    text-align: center;
    font-size: 22px;
}

footer {
    text-align: center;
    font-size: 22px;
}