html, body {
    height: 100%;
    
}

body {
    min-width: 500px;
}

.header__title {
    text-align: center;
}

input{
    display: inline-block;
    border: 2px solid rgb(160, 158, 158);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    font-size: 24px;
}

.input-wrapper {
    
    margin: 0px auto;
    
    width: 280px;
    padding-right: 8px;
}

.wrapper {
    height: 100%;
    width: 100%;
    
}

button {
    margin: 5px;
    background: white;
    font-size: 16px;
    outline: none;
    border: 2px solid rgb(160, 158, 158);
    border-radius: 10px;
    font-style: bold;
    font-weight: 700;

}


button:hover {
    background: rgb(216, 213, 213);
}

button:active {
    background: rgb(173, 173, 173);
}
.calculator__body {
    margin-left: 200px;
    width: 500px;
    margin: 0px auto;

}

.button-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    grid-auto-rows: 100px;
}

.operator {
    display: grid;
    grid-template-columns: repeat(2, 70px);
    grid-template-rows: repeat(4, 70px);
}
.action-buttons {
    display: flex;
    margin-top: 30px;
    
}

.btn {
    margin-top: 50px;
    height: 100px;
}

img {
    visibility: hidden;
}

.title-img {
    visibility: hidden;
}