
html,
body{
    height: 100%;
    color: #252B42;
    font-size: 14px;
    line-height: 1;
    
}

.header{
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.title{
   margin-left: 30%;
}

textarea {
    resize: none;
}

.form {
    margin: 0px auto;
    width: 400px;
    
}

.input-wrapper {
    margin: 20px 0px;
}

.link{
    margin-left: 20px;
}